
.container{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    height: 100vh;
}

.container > div{
    margin:  auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 32px;
}
#keyb::selection{
    background-color: red;
    color: #fff;
}

.progress{
    position: fixed;
    top: 50px;
    max-width: 800px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.progress__bar{
    height: 10px;
    border: 2px solid #ccc;
    border-radius: 2px;
    background-color: #fff;
    display: flex;
}
.progress__active{
    width: 0%;
    background-color: red;
    transition: width 200ms linear;
}


.popup{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    display: none;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
}

.popup.show{
    display: flex;
}

.popup__container{
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin: auto;
}

#comments{
    position: fixed;
    top: 0;
    right: 0;
    padding: 30px;
    z-index: 1;
    border:1px solid #ccc;
    list-style: none;
    max-height: 100vh;
    overflow: auto;
    max-width: 400px;
    height: 100vh;
}

#comments li {
    margin-bottom: 15px;
}
#comments li:last-of-type{
    margin-bottom: 0;
}